# Xcode
build/
build_dd/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# CocoaPods / Carthage (if used later)
Pods/
Carthage/Build/
